main {
    background-color: white;
    color: #000;
}

.input-section {
    display: flex;
    justify-content: center;
    width: 100%;
}


.input-bar-wrapper {
    width: 80%;
    border: 1px solid #000;   /* black border */
    border-radius: 4px;       /* small rounded corners */
    padding: 8px;             /* optional: add a bit of breathing room */
}


