@font-face {
  font-family: "ChosunIlboMyungjo";
  src: url("./assets/fonts/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "./themes/primitives.css";
@import "./themes/tokens.css";
@import "./themes/components.css";
