@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

@font-face {
  font-family: "Joseon Ilbo Myeongjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/JoseonIlboMyeongjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
